<!DOCTYPE html>
<html lang="en">
<head>
    <h1>==========================</h1>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    <h1>Header de la page</h1>
    <h1>==========================</h1>
</head>
<body>
    <h1>==========================</h1>
    <h1>Body de la page</h1>
    {% block content %}

    {% endblock%}
    <h1>==========================</h1>

    <footer>
        <h1>==========================</h1>
        <h1>Footer de la page</h1>
        <h1>==========================</h1>
    </footer>
</body>
</html>