{% extends "base.html" %}
{% block title %}Page de Connexion{% endblock%}






{% block content %}
<link type="text/css" rel="stylesheet" href="static/css/style_connexion.css">

<div class="container">
    <div class="row" style="justify-content: center;">
        <div class="col-lg-4">
            <div class="login-form">
                <form method="post">
                    <h2 class="text-center">Connexion</h2>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Nom d'utilisateur" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <button type="submit" value="Envoyer" class="btn btn-primary btn-block">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}
