{% extends "base.html" %}
{% block title %}Commande confirmée{% endblock%}


{% block navbar %}
<div class="d-flex align-items-center justify-content-end mr-5">
    <img src="/static/images/user-regular.svg" style="width: 25px; height: 25px;"> Hey, {{g.user.username}}
    <div class="ml-3 mr-5">
        <a href="/panier"><div class="ml-3 text-danger"><img src="/static/images/shopping-cart-solid.svg" style="width: 25px; height: 25px;"> {{listPanier|length}} Article(s)</div></a>
    </div>
    <div class="ml-5">
        <a href="/deconnexion"><button type="button" class="btn btn-danger">déconnexion</button></a>
    </div>
</div>
{% endblock%}



{% block content %}
<div id="test" class="container-fluid big-container" style="background-color:#f0f0f0;">
    <div class="container" style="padding-top: 30px; padding-bottom: 56px;">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-12">
                <div class="text-center animate__animated animate__bounce" style="animation-name: flipInX;">
                    <img src="/static/images/confirmationCommandenobg.png" style="height: 160px;">
                    <h2 class="title2 pt-5"><strong>Merci {{g.user.username}},</strong></h2>
                    <h4 class="text-secondary mb-5"><strong>A bientôt !</strong></h4>
                    <a href="/produit"><button type="button" class="btn btn-success">Retour page produit</button></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}



