{% extends "base.html" %}
{% block title %}Page Panier{% endblock%}


{% block navbar %}
<div class="d-flex align-items-center justify-content-end mr-5">
    <img src="/static/images/user-regular.svg" style="width: 25px; height: 25px;"> Hey, {{g.user.username}}
    <div class="ml-3 mr-5">
        <a href="/panier"><div class="ml-3 text-danger"><img src="/static/images/shopping-cart-solid.svg" style="width: 25px; height: 25px;"> {{listPanier|length}} Article(s)</div></a>
    </div>
    <div class="ml-5">
        <a href="/deconnexion"><button type="button" class="btn btn-danger">déconnexion</button></a>
    </div>
</div>
{% endblock%}


{% block content %}
<div id="test" class="container-fluid big-container" style="background-color:#f0f0f0;">
    <div class="container-am" style="padding-top: 30px; padding-bottom: 56px;">
        <div class="row rowNoGutters" style="justify-content: center;">
            <div class="col-lg-12">
                <div class="text-center animate__animated animate__bounce" style="animation-name: flipInX;">
                    <h6 class="text-danger title5 pt-5"><strong>{{listPanier|length}} Article(s)</strong></h6>
                    <h2 class="titleSection">Votre panier</h2>
                    <p></p>
                </div>
            </div>
        </div>
        {% for produit in listPanier %}
            <div class="row mt-5" style="justify-content: center;">
                <div class="col-lg-7">
                    <div class="row d-flex align-items-center animate__animated animate__flipInX" style="animation-name: zoomIn;">
                        <div class="col-3">
                            <img src="/static/images/produits/{{produit.image}}">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3">
                                    <p><strong>{{produit.code}}</strong></p> {{produit.marque}}
                                </div>
                                <div class="col-6">
                                    {{produit.modele}}
                                </div>
                                <div class="col-3">
                                    {{produit.prix}} €
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <form action="/delPanier" method="post">
                                <input type="text" id="produitCode" style="display:none;" name="produitCode" value="{{produit.code}}">
                                <button type="submit" value="{{produit}}" class="btn btn-outline-danger">Retirer du panier</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-12">
        {% endfor %}


        <div class="row mt-5"></div>
        <div class="row mt-5" style="justify-content: center;">
            <div class="col-lg-4 ">
                <div class="row d-flex align-items-center" style="font-weight: bold">
                    <div class="col-3">
                        {{listPanier|length}} articles
                    </div>
                    <div class="col-6">
                        Total ttc : {{ listPanier|sum(attribute='prix') }} €
                    </div>
                    <div class="col-3">
                        <form action="/addCommande" method="post">
                            <button type="submit" value="{{produit}}" class="btn btn-success">Valider commande</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock%}