{% extends "base.html" %}
{% block title %}Page Panier{% endblock%}

{% block navbar %}
<div class="d-flex justify-content-end mr-5">
    <div><img src="/static/images/user-regular.svg" style="width: 25px; height: 25px;"> + nom utilisateur</div>
    <div class="ml-3"><img src="/static/images/shopping-cart-solid.svg" style="width: 25px; height: 25px;"> + Nb Article Panier</div>
</div>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row" style="justify-content: center;">
        <div class="col-lg-4">
          <h1>Votre panier</h1>
        </div>
    </div>
</div>
{% endblock%}